* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(70, 136, 207);
    color: white;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 2em;
    margin: 0em auto;
    text-align: center;
    padding: .5em;
}

form {
    width: 80%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: .5em auto;
}

.waiting {
    width: 10em;
    height: 10em;
    margin: 5em auto;
    animation: rotation 2s infinite linear;
}

.waiting img {
    position: absolute;
    width: 10em;
    height: 10em;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-359deg);
    }
  }


.hidden {
    display: none;
}

.cityInput {
    font-size: 1em;
    color: white;
    padding: .5em;
    margin: 1em;
    width: 100%;
    background-color: rgba(97, 97, 97, .2);
}

.btn {
    padding: .5em .7em;
    font-size: .9em;
    background-color: rgb(70, 136, 207);
    cursor: pointer;
}

.cityBox, .tempBox, .humidityBox, .pressureBox, .cloudsBox, .description1Box {
    width: 70%;
    color: white;
    margin: .5em auto;
    text-align: center;
    font-size: 1.3em;
    text-transform: capitalize;
}

.windBox {
    display: flex;
    flex-direction: column;
    width: 12em;
    height: 12em;
    padding: 1em;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
}


.windDirBox {
    width: 7em;
    height: 7em;
    display: flex;
    flex-direction: column;
    margin: auto;
    position: absolute;
    background-color: rgb(70, 136, 207);
}

.windDirBox img {
    width: 7em;
    height: 7em;
    margin: auto;
}

.windDirSymbol {
    font-size: 1.2em;
    padding: .1em;
    border-radius: 55px;
    width: max-content;
    margin: auto;
    position: absolute;
    z-index: 3;
    background-color: rgb(70, 136, 207);
}

.windSpeedBox {
    width: max-content;
    font-size: 1.3em;
    margin-bottom: 0;
    margin-top: 80%;
    
}